[Unit]
Description=Change system colors and wallpaper every hour.

[Timer]
OnCalendar=hourly
Persistent=true

[Install]
WantedBy=colors-wallpaper.target
