[user]
	name = Mike Kofron
	email = mpkofron@gmail.com
[credential]
	helper = cache --timeout=3600
[core]
	askpass =
	excludesfile = /home/kofdog/.gitignore_global
	editor = vim
[sendemail]
	smtpserver = /usr/bin/msmtp
