# Use this file to autostart GUI programs. It is called by xinitrc,
# and should be sourced by display managers.

# Terminal
urxvtd &
xrdb-merge &

# Audio
mpd-start &

# File sharing
filesharing-fix &
dropboxd &
CopyAgent &
#google-musicmanager &

# Display
#redshift -l 39.9500:75.1667 &

# Messaging
skype &

# Gnome 3 fullscreen fix
devilspie &
