# Use this file to autostart GUI programs. It is called by xinitrc,
# and should be sourced by display managers.

# Audio
mpd-start &

# File sharing - handle with systemd instead
#filesharing-fix &
#dropboxd &
#CopyConsole --daemon &
#google-musicmanager &

# Terminal
urxvtd &

# Gnome 3 fullscreen fix
devilspie &

# Color switching
#systemctl --user start colors-wallpaper.service
#systemctl --user start colors-wallpaper.timer

# X11
xrdb -merge ~/.Xresources
