!--------------------------------------
! Constants
!--------------------------------------

#include ".palettes/c-style/base16/dark/eighties"
#define FONT xft:Source Code Pro:style=Semibold:size=13
!#define FONT xft:Meslo LG L:style=Regular:size=13
#define TWOFIFTYSIX


!--------------------------------------
! Xft
!--------------------------------------

Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 192
Xft.hinting: 1
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: grayscale


!--------------------------------------
! DZen2
!--------------------------------------

dzen2.font: FONT
dzen2.foreground: FOREGROUND
dzen2.background: BACKGROUND


!--------------------------------------
! URxvt
!--------------------------------------

! General
!URxvt*depth: 32
URxvt*geometry: 90x22
URxvt*intensityStyles: false
URxvt*termName: rxvt-256color
URxvt*cursorBlink: true
URxvt*perl-ext-common: default,selection-to-clipboard

! Fake transparency
!URxvt*transparent: true
!URxvt*blurRadius: 90
!URxvt*shading: 20
!URxvt*fading: 20

! Scrolling
URxvt*saveLines: 5000
URxvt*scrollStyle: rxvt
URxvt*scrollBar: false
URxvt*secondaryScroll: true

! Font
URxvt*font: FONT
URxvt*boldFont:

! Basics
URxvt*background: BACKGROUND
URxvt*foreground: FOREGROUND
URxvt*cursorColor: CURSOR

! Black dark/light
URxvt*color0: COLOR0
URxvt*color8: COLOR8

! Red dark/light
URxvt*color1: COLOR1
URxvt*color9: COLOR9

! Green dark/light
URxvt*color2: COLOR2
URxvt*color10: COLOR10

! Yellow dark/light
URxvt*color3: COLOR3
URxvt*color11: COLOR11

! Blue dark/light
URxvt*color4: COLOR4
URxvt*color12: COLOR12

! Magenta dark/light
URxvt*color5: COLOR5
URxvt*color13: COLOR13

! Cyan dark/light
URxvt*color6: COLOR6
URxvt*color14: COLOR14

! White dark/light
URxvt*color7: COLOR7
URxvt*color15: COLOR15

! Base-256 colors
#ifdef TWOFIFTYSIX
URxvt*color16: COLOR16
URxvt*color17: COLOR17
URxvt*color18: COLOR18
URxvt*color19: COLOR19
URxvt*color20: COLOR20
URxvt*color21: COLOR21
#endif
