!--------------------------------------
! Xft
!--------------------------------------

Xft.autohint: 0
Xft.dpi: 192
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault



!--------------------------------------
! URxvt
!--------------------------------------

! General
URxvt*geometry: 80x25
URxvt*fading: 0
URxvt*intensityStyles: false
URxvt*termName: rxvt-256color
URxvt*cursorBlink: true
URxvt*perl-ext-common: default,selection-to-clipboard

! Fake transparency
!URxvt*transparent: true
!URxvt*shading: 30

! Scrolling
URxvt*saveLines: 5000
URxvt*scrollStyle: rxvt
URxvt*scrollBar: false
URxvt*secondaryScroll: true

! Font
URxvt*font: xft:Meslo LG S:size=10
URxvt*boldFont:
URxvt*letterSpace: -1

! Import scheme
#include ".palettes/dark/base16_default"

! Appearance
URxvt*depth: 32
URxvt*background: [90]#151515
URxvt*foreground: FOREGROUND
URxvt*cursorColor: CURSOR

! Black dark/light
URxvt*color0: COLOR0
URxvt*color8: COLOR8

! Red dark/light
URxvt*color1: COLOR1
URxvt*color9: COLOR9

! Green dark/light
URxvt*color2: COLOR2
URxvt*color10: COLOR10

! Yellow dark/light
URxvt*color3: COLOR3
URxvt*color11: COLOR11

! Blue dark/light
URxvt*color4: COLOR4
URxvt*color12: COLOR12

! Magenta dark/light
URxvt*color5: COLOR5
URxvt*color13: COLOR13

! Cyan dark/light
URxvt*color6: COLOR6
URxvt*color14: COLOR14

! White dark/light
URxvt*color7: COLOR7
URxvt*color15: COLOR15
