!--------------------------------------
! Xft
!--------------------------------------

Xft.autohint: 0
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault



!--------------------------------------
! URxvt
!--------------------------------------

! General
URxvt*geometry: 80x25
URxvt*fading: 0
URxvt*intensityStyles: false
URxvt*termName: rxvt-256color
URxvt*cursorBlink: true

! Transparency
!URxvt*transparent: true
!URxvt*shading: 30
!URxvt*depth: 32
!URxvt*background: [80]#121212

! Scrolling
URxvt*saveLines: 5000
URxvt*scrollStyle: rxvt
URxvt*scrollBar: false
URxvt*secondaryScroll: true

! Font
URxvt*allow_bold: true
URxvt*font: xft:Meslo LG M:size=8
URxvt*letterSpace: -1

! Import scheme
#include ".colors/jezebel"

! Base colors
URxvt*background: BACKGROUND
URxvt*foreground: FOREGROUND
URxvt*cursorColor: CURSOR

! Black dark/light
URxvt*color0: COLOR0
URxvt*color8: COLOR8

! Red dark/light
URxvt*color1: COLOR1
URxvt*color9: COLOR9

! Green dark/light
URxvt*color2: COLOR2
URxvt*color10: COLOR10

! Yellow dark/light
URxvt*color3: COLOR3
URxvt*color11: COLOR11

! Blue dark/light
URxvt*color4: COLOR4
URxvt*color12: COLOR12

! Magenta dark/light
URxvt*color5: COLOR5
URxvt*color13: COLOR13

! Cyan dark/light
URxvt*color6: COLOR6
URxvt*color14: COLOR14

! White dark/light
URxvt*color7: COLOR7
URxvt*color15: COLOR15

!--------------------------------------
! XTerm
!--------------------------------------

! General
XTerm*geometry: 80x25
XTerm*fading: 0
XTerm*intensityStyles: false
XTerm*termName: xterm-256color
XTerm*cursorBlink: true

! Transparency
!XTerm*transparent: true
!XTerm*shading: 30
!XTerm*depth: 32
!XTerm*background: [80]#121212

! Scrolling
XTerm*saveLines: 5000
XTerm*scrollBar: false

! Font
XTerm*allow_bold: true
XTerm*faceName: Meslo LG M:size=8

! Import scheme
#include ".colors/tomorrow"

! Base colors
XTerm*background: BACKGROUND
XTerm*foreground: FOREGROUND
XTerm*cursorColor: CURSOR

! Black dark/light
XTerm*color0: COLOR0
XTerm*color8: COLOR8

! Red dark/light
XTerm*color1: COLOR1
XTerm*color9: COLOR9

! Green dark/light
XTerm*color2: COLOR2
XTerm*color10: COLOR10

! Yellow dark/light
XTerm*color3: COLOR3
XTerm*color11: COLOR11

! Blue dark/light
XTerm*color4: COLOR4
XTerm*color12: COLOR12

! Magenta dark/light
XTerm*color5: COLOR5
XTerm*color13: COLOR13

! Cyan dark/light
XTerm*color6: COLOR6
XTerm*color14: COLOR14

! White dark/light
XTerm*color7: COLOR7
XTerm*color15: COLOR15
