[Desktop Entry]
Icon=text-html
Name=Becky-Lee-11
Type=Link
URL[$e]=http://www.quora.com/Parenting/What-is-the-most-bizarre-thing-your-parents-told-you-when-you-were-kids/answer/Becky-Lee-11
X-KDE-LastOpenedWith=firefox
