[Desktop Entry]
Icon=image-jpeg
Name=grass-lawn-grass-green-green-plant-spikelets-sea-water-glare-light-sun-wind.jpg
Type=Link
URL[$e]=file://$HOME/Pictures/grass-lawn-grass-green-green-plant-spikelets-sea-water-glare-light-sun-wind.jpg
X-KDE-LastOpenedWith=plasma-desktop
