[Desktop Entry]
Icon=image-svg+xml
Name=notification-audio-volume-muted.svg
Type=Link
URL[$e]=file:///usr/share/icons/Flattr/status/scalable/notification-audio-volume-muted.svg
X-KDE-LastOpenedWith=eog
