[Desktop Entry]
Icon=text-html
Name=s.aspx
Type=Link
URL[$e]=https://www.surveymonkey.com/s.aspx?sm=NOCGIIHsvWICejlHGg6H_2bQ_3d_3d
X-KDE-LastOpenedWith=firefox
