#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=URxvt
Comment=An Unicode capable rxvt clone
Exec=urxvtc
Icon=gnome-terminal
Terminal=false
Type=Application
Categories=Application;System;TerminalEmulator;
StartupWMClass=URxvt
